Prokarma0911/PartialArmTemplates/ArmTemplate_12_4_2020_9_18_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Prokarma0911"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/carspl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "carsdf1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "folderpath",
								"value": "@pipeline().parameters.foldernamepl"
							},
							{
								"name": "filename",
								"value": "@pipeline().parameters.filenamepl"
							}
						],
						"typeProperties": {
							"dataflow": {
								"referenceName": "carsdf",
								"type": "DataFlowReference",
								"parameters": {
									"foldernamedf": {
										"value": "'@{substring(pipeline().parameters.foldernamepl,11,add(length(pipeline().parameters.foldernamepl),-11))\n\n}'",
										"type": "Expression"
									},
									"filenamedf": {
										"value": "'@{pipeline().parameters.filenamepl}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {
										"foldernamedataset": {
											"value": "@substring(pipeline().parameters.foldernamepl,11,add(length(pipeline().parameters.foldernamepl),-11))\n",
											"type": "Expression"
										},
										"filenamedataset": "@pipeline().parameters.filenamepl"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "faiurepipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "carsdf1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "emailfailurepipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "\"vkchaitanyab2.kv@gmail.com;mgousiya@pkglobal.com\"",
								"ErrorMessage": {
									"value": "@activity('carsdf1').Error.Message",
									"type": "Expression"
								},
								"Activity": {
									"value": "\"carsdf1\"",
									"type": "Expression"
								},
								"SuccessMessage": "\"Not Successful\""
							}
						}
					},
					{
						"name": "Successpipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "carsdf1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "emailfailurepipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "\"vkchaitanyab2.kv@gmail.com;mgousiya@pkglobal.com\"",
								"ErrorMessage": {
									"value": "@activity('carsdf1').Error.Message",
									"type": "Expression"
								},
								"Activity": {
									"value": "\"carsdf1\"",
									"type": "Expression"
								},
								"SuccessMessage": {
									"value": "@activity('carsdf1').output",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"foldernamepl": {
						"type": "string",
						"defaultValue": "pkcontainer/inputs/Cars2"
					},
					"filenamepl": {
						"type": "string",
						"defaultValue": "cars18112020.txt"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/emailfailurepipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emailfailurepipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sendemailonfailurewebactivity",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-20.centralindia.logic.azure.com:443/workflows/ecd1850818fd4552830ff5b078b91ea8/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Rrj3z25DRus-0HbD5-4OsTt5y0sRUjq62nfk-dEYvYA",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"EmailTo\":@{pipeline().parameters.EmailTo},\n\"Subject\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"Activity\":@{pipeline().parameters.Activity},\n\"ErrorMessage\":@{pipeline().parameters.ErrorMessage}\n\"SuccessMessage\": @{pipeline().parameters.SuccessMessage}\n}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "\"vkchaitanyab2.kv@gmail.com\""
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "\"hi\""
					},
					"Activity": {
						"type": "string",
						"defaultValue": "\"web\""
					},
					"SuccessMessage": {
						"type": "string",
						"defaultValue": "\"Success\""
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}